#imaginary_container{
    margin-top:8px; 
    padding-bottom: 8px;
}
.stylish-input-group .input-group-addon{
    background: white;
     
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:10 10 10; 
    border-color:#ccc;
    padding:12px; 
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
*{
    padding: 0px;
    margin: 0px;
}
.sidebar{
    width: 250px;
    height: 735px;
    background: #1a1b1c;
}
.sidebar a:visited {
    text-decoration: none;
    color: white;
    padding: 20px;
    padding-right: 100px; 
    color: white;

}
.sidebar ul li{
    list-style-type: none;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #d6d320;
}
.sidebar ul li:hover{
    background: #333232;
}
